/* Home page stuff */
.title {
  margin: 0 1ch;
}

.group {
  width:90vw;
  margin:auto;
}

.group h3 {
  margin: auto;
  font-size: 3em;
  text-align: center;
}

.group .dev {
  font-size: 2.5em;
  color: black;
}

.group .grid {
  display: grid;
  width:fit-content;
  grid-template-columns: auto min-content;
  margin:auto;
}

.split {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 2em;
  gap: 5vw;
}

#about h4 {
  margin: 0;
  text-align: center;
}



/* event calendar */
#events .events{
  padding:0;
}
#events .events h3{
 white-space: nowrap;
}
#events .grid{
  margin-bottom: 1em;
}

.calendar{
  width: 60vmin;
  max-width:60vw;
  height:60vmin;
  background-color: #00000000;
  font-size: 1.25vmin;
  user-select: none;
  display:grid;
}

.calendar .calendar-body{
  padding:0;
  margin:0 0 0 5%;
}

/* cs fellows stuff */
#csfellows #fellows-schedule{
  /* height 200px; */
  width:fit-content;
  max-width: none;
  display:flex;
  margin-bottom: 1em;
}

.fellows-schedule-item{
  /* width:20ch; */
  border: solid 2px;
  border-image: linear-gradient(to bottom, transparent 10%, var(--background) 10%, var(--background) 90%, transparent 90%) 2 1;
  border-top: none;
  border-bottom: none;
  border-right: none;

  width: 16ch;
  padding-bottom: 0.5em;
}
.fellows-schedule-item:first-child{
  border-left:none;
}

.fellows-schedule-item h4{
  color: var(--background);
  text-align: center;
  margin:0;
  padding-bottom: 0;
}
.fellows-schedule-item p{
  color: black;
  text-align: center;
  margin:0;
  padding-bottom: 0;
}

.fellows-schedule-item .event{
  user-select: none;
  width:90%;
  margin: auto;
  border-radius: 0.5em;
  font-weight: 500;
  text-align: center;
}


@media screen and (max-width: 992px) {
  #fellows-schedule{
    flex-direction: column;
  }
  .fellows-schedule-item{
    /* width:20ch; */
    border-image: linear-gradient(to right, transparent 10%, var(--background) 10%, var(--background) 90%, transparent 90%) 2 1;
    border-left: none;
    border-right: none;
    border-bottom:none;
    border-top: solid;
  }
  .fellows-schedule-item:first-child{
    border-top:none;
  }
}


/*Error 404 redirect page*/
.err404 {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-family: 'Raleway', serif;
}

.err404 h1 {
  font-weight: bold;
  font-size: 20rem;
  vertical-align: center;
  color: var(--text);
}

.err404 h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: 'Raleway', serif;
  font-size: 2rem;
  color: var(--text);
}

.err404 h3 {
  /* margin-top: 5rem; */
  font-size: 1rem;
  color: var(--text);
}

.err404 h3 a {
  color: var(--link);
}