.tabcontainer {
    margin: auto;
    /* padding-top: 1vh; */
    width: 100%;
    margin: 0 auto;
}

.tab{
    border: 0 solid var(--table);
}

.tab button:hover {
    background-color: var(--hover);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--select);
}

.tabcontainer #members{
    padding:0;
}
.tabcontent{
    border: 0 solid var(--table);
}

#members .tabcontent{
    padding:0;
    grid-column: 1;
}

#members .memberdisplay{
    padding:0;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1.5em repeat(6,min-content);
    font-size: 20px;
    height: calc(100vh - 169px); /* adjust as needed based on your navbar height */
}

#members .search{
    padding: 0 0.5em;
    border-radius: 0;
    cursor: text !important;
    background-color: var(--table) !important;
    border-top: 1px solid var(--hover) !important;
    border-bottom: 1px solid var(--hover) !important;
    display:block !important;
    text-align: right;
}

#members .memberlist{
    display:flex;
    flex-direction: column;
    height:100%;
    background-color: var(--table);
}

#members .memberbtn{
    border:0;
    width:100%;
    height: 1.5em;
    background-color: var(--table);
    cursor: pointer;
    /* transition: 0.3s; */
}
#members .memberbtn:hover{
    background-color: var(--hover);
}
#members .memberbtn.active{
    background-color: var(--select);
}

#members .profile{
    padding: 1em;
    grid-column: 2;
    grid-row:1;
    font-size: 0.8em;
    /* grid-template-columns: auto 0 auto; */
}

#members #university{
    display: block;
}

#members .options{
    row-gap:0.2em;
}
#members .update{
    grid-column:1/-1;
    width:97.5% !important;
    font-size: 1em;
}
#members .updatevalid{
    background-color: var(--btn-green) !important;
    border-color: var(--btn-green-border) !important;
}
#members .updatevalid:hover{
    background-color: var(--btn-green-hover);
}