body {
    display:grid;
    align-items: center;
    grid-template-rows: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.form {
    /* display: grid; */
    width: 80vmin;
    height: auto;
    max-height: 95vh;
    overflow-y: scroll;

    margin: auto;
    background-color: var(--navbar);
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    font-size: 1vmin;

    padding: 1%;
    margin-top: auto;
    grid-row: 1; 
    grid-column: 1;
}

.form .form-body {
    /* grid-row: 1; */
    /* grid-column: 1; */

    width: 100%;
}

.form h2 {
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 6.4em;
    color: var(--text);
    font-weight: bold;
    padding: 0px;
}

.form h3 {
    text-align: left;
    font-family: 'Raleway', serif;
    font-size: 5.5em;
    color: var(--text);
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

.form h4 {
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 5em;
    color: var(--text);
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
}

.form p {
    text-align: left;
    font-family: 'Raleway', serif;
    font-size: 3.2em;
    color: var(--text);
    font-weight: normal;
    margin-bottom: 0;
    padding: 0;
}

.form button {
    width: 80%;
    /* height:1.8em; */
    margin: auto;
    display: block;
    background-color: var(--background);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    font-family: 'Raleway', serif;
    font-size: 5em;
    color: var(--text);
}
.form button:hover{
    background-color: var(--hover);
    color: var(--black);
    /* font-weight: bold; */
}

#form-button {
    /* height: 0; */
    font-size: 0;
    transition: all 0.3s ease-in-out;
}

.form input {
    width: 100%;
    padding-left: 2%;
    text-align: left;
    border-radius: 3px;
    border: #00000000;
    font-size: 4em;
}
.form input[type="file"]{
    display: none;
}

.name {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 4% 48%;
    margin-bottom: 5%;
}

.email {
    width: 100%;
    margin-bottom: 5%;
}

.email p {
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    font-size:3em;
}

.image {
    width: 100%;
    margin-bottom: 5%;
}
.image button{
    margin-left:0;
    padding:2% 2%;
    width:100%;
    font-size:4em;
    /* height:1.5em; */
}

.image img {
    width: 80%;
    display: block;
    border-radius:5px;
    margin:auto;
}


/*all of the stuff for selection boxes, copied from members/style.css*/
:root {
    /*Color variables*/
    --hover: #bbb;
    --select: #ddd;
}