:root {
    --table: #f1f1f1;
    --hover: #ddd;
    --select: #ccc;
}

.tabcontainer {
    width: 80vw;
    margin: 0 auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--select);
    background-color: var(--table);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--table);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--select);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--select);
    border-top: none;
}

.memberTable {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.memberItem {
    min-width: 200px;
    max-width: 400px;
    width: 18%;
    height: auto;
    border: 1px solid var(--select);
    border-radius: 10px;
    background-color: var(--table);
    margin: auto;
    margin-top: 10px;
}

.memberItem img {
    margin: auto;
    margin-top: 5%;
    width: 90%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    border: 1px solid var(--select);
}

.memberItem a {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 24px;
    color: var(--background) !important;
    font-weight: bold;
}

.memberItem ul {
    display: block;
    margin-left: 10%;
    margin-block-end: 0.2em;
}

.memberItem li {
    line-height: 1rem;
}

li:not(:last-child) {
    margin-bottom: 0.5rem;
}


/* Display Profile: */
.profile {
    display: grid;
    margin: auto;
    padding-top: 5vh;
    width: 80vw;
    height: 20vh;
    grid-template-columns: 30% 20% auto;
    row-gap: 5px;
}

.profile h1 {
    font-size: 3em;
    padding-bottom: 0;
    /* margin-bottom:0; */
}

.profile h3 {
    padding: 0.5em 0.5em 0 0;
    margin-bottom: 0;
}

.profile .icon {
    grid-row: 1;
    grid-column: 1/-1;
    width: 90%;
    height: auto;
    margin: auto;
}

.profile .memberItem {
    width: 80%;
    margin-top: 0;
}

.profile .icon ul {
    margin: auto;
}

.profile .icon li {
    text-align: center;
    margin: auto;
    line-height: 1.5em;
}

.profile .bio {
    grid-row: 1;
    grid-column: 2/4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.profile .bio ul {
    color: var(--text)
}

.profile .bio li {
    margin-bottom: 0;
}

.profile .projects {
    grid-row: 2;
    grid-column: 1/3;
}

.profile .articles {
    grid-row: 2;
    grid-column: 3/4;
}

.projects h3,
.articles h3 {
    padding: 1em 0 0 0;
    text-align: center;
}

.profile .list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile .item {
    width: 36vw;
    max-width: 36em;
    height: auto;
    background-color: var(--navbar);
    border-radius: 2vmin;
    margin: 0 0 2%;
    border: 2px solid var(--background);
    transition: border 0.2s;
}

.profile .item:hover {
    border: 2px solid var(--text);
}

.profile .item h3 {
    padding-top: 0.2em;
}

.profile .item p {
    display: -webkit-box;
    -webkit-line-clamp: 6;/* Number of lines to show before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5%;
    margin-bottom: 0.5em;
    text-align: justify;
}