/* Display Profile (for home screen)
 * mainly color changes, most stuff in /members/style.css
 */
.profile {
    grid-template-columns: 40% 10% auto;
}
.profile a{
    color:var(--text) !important;
}
.profile .item{
    border: 1px solid var(--detail);
}
.profile .item:hover{
    border: 1px solid var(--text);
}
.profile .icon {
    grid-column:1;
}
.profile .icon button{
    display:block;
    transition:0.25s;
}
.profile .icon button:hover{
    border-color: var(--text);
}

.profile textarea{
    width:100%;
    border: 1px solid var(--detail);
    border-radius:5px;
    padding:0.25em;
}
.profile textarea:focus{
    width:100%;
    border-color:var(--text);
    border-width: 1px;
    border-radius:5px;
}
#counter{
    margin:-0.5em 0;
    width:auto;
    display: flex;
    justify-content: end;
    right:0;
}