/* Display Profile (for home screen)
 * mainly color changes, most stuff in /members/style.css
 */
.profile a{
    color:var(--text) !important;
}
.profile .item{
    border: 1px solid var(--detail);
}
.profile .item:hover{
    border: 1px solid var(--text);
}
.profile .icon button{
    display:block;
}
.profile .icon button:hover{
    border-color: var(--text);
}